@import "tailwindcss";
@config "./tailwind.config.js";

[data-tooltip-key] {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  position: relative;
  cursor: help;
}

.tooltip-icon {
  display: none;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #4a5568;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

@media (pointer: coarse) {
  [data-tooltip-key] {
    cursor: default;
  }

  .tooltip-icon {
    display: inline-block;
  }
}

@keyframes pulse-once {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
}

.animate-pulse-once {
    animation: pulse-once 3s ease-in-out;
}

.info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.info-modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}