@import "tailwindcss";
@config "./tailwind.config.js";

body {
  font-size: 150%;
}

.pixel-corners {
  clip-path: polygon(0 5px, 5px 5px, 5px 0, calc(100% - 5px) 0, calc(100% - 5px) 5px, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 5px calc(100% - 5px), 0 calc(100% - 5px));
}

[data-tooltip-key] {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  position: relative;
  cursor: help;
}

.tooltip-icon {
    display: none;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #4a5568;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}

@media (pointer: coarse) {
    [data-tooltip-key] {
        cursor: default;
    }

    .tooltip-icon {
        display: inline-block;
    }
}